<footer class="bg-coral ph3 pv4 white">

	<div class="mw7 center pt3">

		

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 white">Cookies da Zazá</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Principal</a></li>
					<li><a href="/products" class="link">Nossos produtos</a></li>
					<li><a href="/values" class="link">Sobre</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contato</a></li>
				</ul>
			</div>

			<div class="measure-narrow center mb4">
			
				<img src="/img/logo-arredondada-branca-fundo_vermelho.svg" alt="Logo da Cookies da Zazá" class="db w4 center mb4 br0">
			
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 white">Mídias Sociais</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://instagram.com/cookiesdazaza" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "https://facebook.com/cookiesdazaza" "svg" "icons-facebook") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
