{{ if gt .Paginator.TotalPages 1 }}
 
<nav class="cf pa3">
    {{ if .Paginator.HasNext }}
    <a class="fl dib link dim black f6 f5-ns b pa2" title="Próxima página" href="{{ .Paginator.Next.URL }}">
        &larr; Anterior
    </a>
    {{ end }}
    <div class="pagination">
        {{ if .Paginator.HasPrev }}
        <a class="fl dib link dim black f6 f5-ns b pa2" title="Página anterior" href="{{ .Paginator.Prev.URL }}">
            Próxima &rarr;
        </a>
        {{ end }}
    </div>
</nav>
 
{{ end }}